.login-container {
  min-width: 350px;
  max-width: 500px;
  width: 50%;
  margin: 150px auto 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.button-holder {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1em;
}

.form-bottom {
  padding: 20px 10px;
  background-color: #bbb;
}

@media (max-width: 600px) {
  .login-container {
    margin: 75px auto 0 auto;
  }
}
