@import url('https://fonts.googleapis.com/css?family=Open+Sans|Trade+Winds&display=swap');
:root {
  --font-winds: 'Trade Winds', sans-serif;
  --font-open: 'Open Sans', sans-serif;
}

body {
  font-family: var(--font-open);
}

html {
  overflow-y: auto;
}

.flex-container {
  height: calc(100vh - 52px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

.point {
  cursor: pointer;
}