@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap');
:root {
  --font-secondary: 'Oswald', sans-serif;
  --font-open: 'Open Sans', sans-serif;
}

body {
  font-family: var(--font-open);
  overflow-y: hidden;
}

html {
  overflow-y: hidden;
}

.flex-container {
  height: calc(100vh - 52px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

.point {
  cursor: pointer;
}

.capital {
  text-transform: capitalize;
}

.logo {
  background-color: #111;
  color: white !important;
  border-radius: 5px;
  padding: 4px;
  height: 44px;
  font-family: var(--font-secondary);
  position: relative;
  top: 4px;
  left: 4px;
}
